.create-post-page{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

form{
    gap: 0.5rem;
    display: flex;
    // align-items: center;
    // justify-content: center;
    flex-direction: column;
}
.post-image-label{
    background-color: #eaeaea;
    color: rgb(25, 25, 25);
    padding-inline: 1rem;
    padding-block: 0.5rem;
    border-radius: 1rem;
    cursor: pointer;
}